{% extends 'base.html.twig' %}

{% block title%}Accueil{% endblock %}

{% block content %}

    <div class="wrapper">
        <h1>ACCUEIL</h1>

        {{ include('front/flashes.html.twig') }}

        <div id="home">
            <p class="text-center">{{ content }}</p>
        </div>
    </div>

{% endblock %}