<footer class="bg-dark">
    <div id="footer-social" class="navbar navbar-expand-lg navbar-dark ">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link btn btn-social-icon btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn btn-social-icon btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li class="nav-item">
                <li>
                    <a href="https://github.com/Reididsorg" class="nav-link btn btn-social-icon btn-github">
                        <span class="fa fa-github"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p id="footer-text">
        © 2021. LE MONOLOGUE DU VOSGIEN<br>
    </p>
</footer>