{% extends 'base.html.twig' %}
{% block title %}Modification du billet de blog{% endblock %}
{% block content %}

    <div class="wrapper">
        <h1>Modification du billet de blog</h1>
        <p><em>(Dernière modification : {{ post.postDateFr }},  par <strong>{{ post.postAuthor }}</strong>)</em></p>
        <div id="form-post">
            <?php include ('formPost.php'); ?>
            {{ include('back/formPost.html.twig') }}
        </div>
        {% if session.get('roleName') == 'editor' %}
            <div id="delete-post">
                <p>
                    <a class="btn btn-danger" href="index.php?action=removeOnePost&postId={{ post.id }}">Supprimer ce billet</a>
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}