{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block content %}

    {{ include('back/flashes.html.twig') }}

    <div id="wrapper">
        <h1>Mon profil</h1>
        <div id="profile">
            <h2>Pseudo : {{ session.get('pseudo') }}</h2>
            <p>Identifiant unique : {{ session.get('id') }}</p>
            <a class="btn btn-warning" href="index.php?action=refreshPassword">Modifier mon mot de passe</a>
            <a class="btn btn-warning" href="index.php?action=removeAccount">Supprimer mon compte</a>
        </div>
    </div>

{% endblock %}