{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}

    <div class="wrapper">
        <h1>Modifier mon mot de passe</h1>
        <div id="form-Password">
            <form method="post" action="index.php?action=refreshPassword">
                <div class="form-group">
                    <label for="password">Mot de passe</label><br>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <input class="btn btn-success" type="submit" value="Mettre à jour" id="submit" name="submit">
            </form>
        </div>
    </div>

{% endblock %}