<footer class="footer-dark fixed-bottom">
    <div class="row">
        <div class="col item social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
        </div>
    </div>
    <p id="footer-text">
        © 2021. LE MONOLOGUE DU VOSGIEN<br>
    </p>
</footer>